<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093195633733-cb8tplmr45mqjevtllrkdbjc07rh2qtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093195633733-cb8tplmr45mqjevtllrkdbjc07rh2qtn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1093195633733-b2ssjnvvqdc16mu5h56un5rj3ge7kgj0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy9vHydayOyhKvJtWfWnEkgnz3JVrvY7A</string>
	<key>GCM_SENDER_ID</key>
	<string>1093195633733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gogesh.seller</string>
	<key>PROJECT_ID</key>
	<string>gogesh-seller</string>
	<key>STORAGE_BUCKET</key>
	<string>gogesh-seller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093195633733:ios:73cf2c2d6f1809c12aff2c</string>
</dict>
</plist>